<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>
<p>
  <strong>Read:</strong>
  <%= @book.read %>
</p>
<p>
  <strong>Cover:</strong>
  <%= img_tag serve %>
</p>