<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.desc %></td>
    </tr>
  <% end %>
</table>